#display{
    width: 440px;
    height: 80px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 4em;
    background-color: rgb(219, 215, 215);
    border-color: rgb(0, 0, 0);
    border: solid;
}
.calculator{
    background-color: grey;
    max-width: 450px;
    border-radius: 5px;
}
.buttons{
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    gap: 10px;
    padding: px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    text-align: center;
    border: none;
    font-size: 3em;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;
}
.buttons:hover{
    background-color: rgb(104, 96, 96);
}
#operators{
    background-color: orange;
}
#operators:hover{
    background-color: rgb(153, 112, 36);
}
#equal{
    background-color: blueviolet;
}
#equal:hover{
    background-color: rgb(74, 39, 107);
}
